/.DS_Store
__pycache__/
/data/
*.bin
*.csv
*.png
*.fvecs
*.npy
*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
acorn/config.*
acorn/aclocal.m4
acorn/autom4te.cache/
acorn/makefile.inc
acorn/bin/
acorn/c_api/bin/
acorn/c_api/gpu/bin/
acorn/tests/test
acorn/tests/gtest/
acorn/faiss/python/swigfaiss_avx2.swig
acorn/build/
venv/